extends base

block content
    if errMsg 
        span=errMsg 
    form(method="POST")
        input(placeholder="Old password", name="oldPassword", type="password")
        input(placeholder="New password", name="newPassword", type="password")
        input(placeholder="New password Confirmation", name="newPasswordCheck", type="password")
        input(value="Change Password", type="submit")